

<div class="center mt mx-auto">
  <section id="content">
      
    <div class="loading" *ngIf="loading">

      <ngx-loading 
        [show]="loading" 
      ></ngx-loading>

    </div> 

    <article class="article-item article-detail" *ngIf="!loading && article">
        <div class="image-wrap">
            <img 
              *ngIf="article.image"
              src="{{url + 'get-image/' + article.image}}"
              alt="{{article.title}}" 
            />

            <!-- En caso no se encuentre imagen -->
            <img
              *ngIf="!article.image"
              src="assets/images/placeholder.jpg"
              alt="{{article.title}}"
            />
        </div>

        <h2 class="subheader">{{article.title}}</h2>

        <span class="date">
            {{article.date | amLocale:'es' | amTimeAgo}}
        </span>

        <p>
            {{article.content}}
        </p>

        <button [routerLink]="['/blog/edit', article._id]" class="btn btn-warning">Editar</button>
        <button 
          [swal]="deleteSwal"

          class="btn btn-danger"
        >
          Eliminar
        </button>

        <swal
          #deleteSwal
          [swalOptions]="{confirmButtonText: sweetalert.confirmText, cancelButtonText: sweetalert.cancelText}"
          [title]="sweetalert.title"
          [text]="sweetalert.text"
          icon="question"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="delete(article._id)">
        </swal>
        
        <div class="clearfix"></div>

    </article>
    
  </section>
  <app-sidebar></app-sidebar>
</div>
