<app-slider [name]="'Formulario'" [size]="'small'"></app-slider>

<div class="center mt mx-auto">
  <section id="content">
    <h2 class="subheader">Formulario</h2>

    <div id="data" *ngIf="user.name">
      <ul>
        <li>{{ user.name }}</li>
        <li>{{ user.lastname }}</li>
        <li>{{ user.bio }}</li>
        <li>{{ user.genre }}</li>
      </ul>
    </div>

    <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input
          type="text"
          name="name"
          #name="ngModel"
          [(ngModel)]="user.name"
          required
        />
        <small *ngIf="!name.valid && name.touched">
          El campo nombre no es válido.
        </small>
      </div>

      <div class="form-group">
        <label for="lastname">Apellidos</label>
        <input
          type="text"
          name="lastname"
          #lastname="ngModel"
          [(ngModel)]="user.lastname"
          required
        />
        <small *ngIf="!lastname.valid && lastname.touched">
          El campo apellido no es válido.
        </small>
      </div>

      <div class="form-group">
        <label for="bio">Biografia</label>
        <textarea
          name="bio"
          #bio="ngModel"
          [(ngModel)]="user.bio"
          required
        ></textarea>
        <small *ngIf="!bio.valid && bio.touched">
          El campo biografía no es válido.
        </small>
      </div>

      <div class="form-group radibuttons">
        <input
          type="radio"
          name="genre"
          value="Hombre"
          #genre="ngModel"
          [(ngModel)]="user.genre"
          required
        />
        Hombre
        <input
          type="radio"
          name="genre"
          value="Mujer"
          #genre="ngModel"
          [(ngModel)]="user.genre"
        />
        Mujer
        <small *ngIf="!genre.valid && genre.touched">
          El campo género no es válido.
        </small>
      </div>

      <div class="clearfix"></div>

      <input
        type="submit"
        value="Enviar"
        class="btn btn-success"
        [disabled]="userForm.invalid"
        [ngClass]="{
          'btn-disabled': userForm.invalid
        }"
      />
       
    </form>

    <h2 class="subheader">Eventos</h2>

    <h4>Evento click</h4>
    <button (click)="triggerAlert()">Alertar</button>
    <!-- 
      * Evento blur: Ejecuta un evento al salir del campo que el usuario ha estado manipulando 
      * Evento keyup: Ejecuta un evento al digitar con el teclado en un campo seleccionado. Existen varias propiedades en este evento. El más usado es el keyup.enter lo cual significa que se ejecutará un evento al pulsar Enter.
    -->

    <h4>Evento keyup.enter y blur</h4>

    <input
      type="text"
      name="input"
      [(ngModel)]="input"
      (blur)="triggerEvent()"
      (keyup.enter)="triggerEvent()"
    />

    {{ input }}
  </section>
  <app-sidebar></app-sidebar>
</div>
